.headerRoot {
  top: 0;
  position: static;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.navItems {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navItem {
  display: flex;
}

.navItemLink {
  padding: 0.5rem;
}

.navItemLink__active {
  padding: 0.5rem;
  text-decoration: underline;
}

.langLink {
  margin-left: auto;
}

.langItems {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.langItem {
  display: flex;
}

.langLink {
  padding: 0.5rem;
  text-transform: uppercase;
}

.langLink__active {
  padding: 0.5rem;
  text-decoration: underline;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .headerRoot {
    flex-direction: column;
  }
  .navItems {
    flex-direction: column;
  }
}
