.heroSectionRoot {
  background-color: #f4f4f4;
  text-align: center;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 3em;
}
